[submodule "deps/raft"]
	path = deps/raft
	url = https://github.com/vgfree/raft.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/libdb"]
	path = deps/libdb
	url = https://github.com/vgfree/libdb.git
[submodule "deps/h2o"]
	path = deps/h2o
	url = https://github.com/h2o/h2o.git
[submodule "deps/rocksdb"]
	path = deps/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "deps/libev"]
	path = deps/libev
	url = https://github.com/vgfree/libev.git
[submodule "deps/libcomm"]
	path = deps/libcomm
	url = http://gitlab.sihuatech.com/network/libcomm.git
[submodule "deps/libevcoro"]
	path = deps/libevcoro
	url = http://gitlab.sihuatech.com/common/libevcoro.git
[submodule "deps/liblogger"]
	path = deps/liblogger
	url = http://gitlab.sihuatech.com/common/liblogger.git
